.divcontainer {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar {
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
    background-color: rgb(141, 117, 87);
    align-items: center;
    width: 250PX;
    height: 100vh;
}

.logoimg {
    margin: 10px 20px;
}

.navlinks {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    
}

li {
    text-decoration: none;
     padding-top: 10px;
    margin-top: 10px;
    justify-content: center;
}

a {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(239, 238, 245);
}

a:hover {
    color: blueviolet;
    font-size: larger;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        /* Stack items vertically */
        padding: 5px;
        /* Adjust padding for mobile */
        align-items: center;
        margin: 10px 20px;
    }
    .navlinks {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-right: auto;
        display: block;
        width: 100px;
    }
}